@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: lightblue; }

form {
  text-align: center; }

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px; }

input {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.gallery-item {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 140px;
  text-align: center; }
  .gallery-item img {
    display: block;
    margin: 0 auto 10px; }
  .gallery-item a {
    display: block;
    font-size: 18px;
    color: #465a6e;
    background-color: lightblue;
    border: 1px solid lightblue;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
    word-wrap: break-word; }
    .gallery-item a:hover {
      background-color: white; }

.twitter {
  background-color: #4099FF;
  color: white;
  border: 2px solid #4099FF;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px 40px; }
  .twitter:hover {
    background-color: white;
    border: 2px solid #4099FF;
    color: #4099FF; }

.facebook {
  background-color: #3B5998;
  color: white;
  border: 2px solid #3B5998;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px 40px; }
  .facebook:hover {
    background-color: white;
    border: 2px solid #3B5998;
    color: #3B5998; }

.google-plus {
  background-color: #DB5A3C;
  color: white;
  border: 2px solid #DB5A3C;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px 40px; }
  .google-plus:hover {
    background-color: white;
    border: 2px solid #DB5A3C;
    color: #DB5A3C; }

.instagram {
  background-color: #5C3D2E;
  color: white;
  border: 2px solid #5C3D2E;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px 40px; }
  .instagram:hover {
    background-color: white;
    border: 2px solid #5C3D2E;
    color: #5C3D2E; }

.github {
  background-color: #4183C4;
  color: white;
  border: 2px solid #4183C4;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
  padding: 15px 40px; }
  .github:hover {
    background-color: white;
    border: 2px solid #4183C4;
    color: #4183C4; }

.twitter,
.facebook,
.google-plus,
.github,
.instagram {
  padding: 5px;
  width: 30px;
  margin: 3px; }

.filters {
  background-color: white;
  position: fixed;
  width: 220px;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 50px; }

.container {
  padding-left: 170px; }

.chooseMedia {
  font-size: 18px; }

.specifiedFilter {
  display: none; }
  .specifiedFilter p {
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 7px;
    background-color: lightblue;
    transition-duration: 0.5s;
    cursor: pointer; }
    .specifiedFilter p:hover {
      background-color: white; }

.show {
  display: block !important; }

/*# sourceMappingURL=style.css.map */
