* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 140px;
    text-align: center;

    img {
        display: block;
        margin: 0 auto 10px;
    }

    a {
        display: block;
        font-size: 18px;
        color: rgb(70, 90, 110);
        background-color: lightblue;
        border: 1px solid lightblue;
        padding: 5px;
        border-radius: 10px;
        transition-duration: 1s;
        word-wrap: break-word;
        
        &:hover {
            background-color: white;
        }
    }
}
