@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font: 'Montserrat', sans-serif;

* {
    box-sizing: border-box;
    font-family: $font;
}

@mixin button-style($back-color, $color, $radius) {
    background-color: $back-color;
    color: $color;
    border: 2px solid $back-color;
    border-radius: $radius;
    cursor: pointer;
    transition-duration: 0.7s;
    padding: 15px 40px;
  
    &:hover {
        background-color: $color;
        border: 2px solid $back-color;
        color: $back-color;
    }
}

$twitter: #4099FF;
$facebook: #3B5998;
$google-plus: #DB5A3C;
$instagram: #5C3D2E;
$github: #4183C4;


body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 140px;
    text-align: center;

    img {
        display: block;
        margin: 0 auto 10px;
    }

    a {
        display: block;
        font-size: 18px;
        color: rgb(70, 90, 110);
        background-color: lightblue;
        border: 1px solid lightblue;
        padding: 5px;
        border-radius: 10px;
        transition-duration: 1s;
        word-wrap: break-word;
        
        &:hover {
            background-color: white;
        }
    }
}

.twitter {
    @include button-style($twitter, white, 15px);
}

.facebook {
    @include button-style($facebook, white, 15px);
}

.google-plus {
    @include button-style($google-plus, white, 15px);
}

.instagram {
    @include button-style($instagram, white, 15px);
}

.github {
    @include button-style($github, white, 15px);
}

.twitter,
.facebook,
.google-plus,
.github,
.instagram {
    padding: 5px;
    width: 30px;
    margin: 3px;
}

.filters {
    background-color: white;
    position: fixed;
    width: 220px;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 50px;
}

.container {
    padding-left: 170px;
}

.chooseMedia {
    font-size: 18px;

}
